= form_tag({action: :update, id: @need.id}, method: :put) do
  .row-fluid
    .span8
      %h1= @need.name
    .span4.button-area
      = buttons_for @need

  .row-fluid
    #need.span12
      %table.table.table-striped.table-condensed.table-bordered
        %thead
          %tr
            %th Original URL
            %th Propositions
            %th Other needs
            %th Audiences
            %th New URLs
        %tbody
          - @need.pages.each do |page|
            %tr
              %td
                %a{:href => page.uri, :target => '_blank'}=page.name
              %td
                %input.editable_list{:id => "attributes_#{page.id}", :name => "attributes_#{page.id}", :value => page.attributes.collect{|a| a.name}.join(',')}
              %td
                %input.editable_list{:id => "needs_#{page.id}", :name => "needs_#{page.id}", :value => page.needs.collect{|n| n.name unless n == @need}.join(',')}
              %td
                %input.editable_list{:id => "audiences_#{page.id}", :name => "audiences_#{page.id}", :value => page.audiences.collect{|a| a.name}.join(',')}
              %td
                /%input.editable_list{:id => "new_pages_#{page.id}", :name => "new_pages_#{page.id}", :value => page.new_pages.collect{|a| a.name}.join(',')}

  .row-fluid
    .span8
      &nbsp;
    .span4.button-area
      = buttons_for @need
