= form_tag({action: :update, id: @need.id}, method: :put) do
  .row-fluid
    .span8
      %h1= @need.name
    .span4.button-area
      = buttons_for @need

  .row-fluid
    #need.span12
      %table.table.table-striped.table-condensed.table-bordered
        %thead
          %tr
            %th Original URL
            %th Propositions
            %th Other needs
            %th Audiences
            %th New URLs
        %tbody
          - @need.pages.each do |page|
            %tr
              %td.page
                %a{:href => page.uri, :target => '_blank'}=page.name
              %td.propositions
                - taxonomy_tag(:attributes)[:cls].all.each_with_index do |a, i|
                  %label{class: "proposition_#{i}"}
                    = check_box_tag("pages[#{page.id}][attributes][#{a.name}]", '1', page.has_tag?(:attributes, a.name), {disabled: !@need.taken_by?(current_user)})
                    = a.name
              %td.needs
                = autocomplete_field_tag("pages[#{page.id}][needs]", page.needs.collect{|n| n.name unless n == @need}.join(','), autocomplete_need_name_department_needs_path, {placeholder: "Add...", class: "editable_list", data: {for: "needs_#{page.id}"}, disabled: !@need.taken_by?(current_user)})
              %td.audiences
                = autocomplete_field_tag("pages[#{page.id}][audiences]", page.audiences.collect{|a| a.name}.join(','), autocomplete_audience_name_department_needs_path, {placeholder: "Add...", class: "editable_list", data: {for: "audiences_#{page.id}"}, disabled: !@need.taken_by?(current_user)})
              %td.new_pages
                = autocomplete_field_tag("pages[#{page.id}][new_pages]", page.new_pages.collect{|p| p.uri}.join(','), autocomplete_new_page_uri_department_needs_path, {placeholder: "Add...", class: "editable_list", data: {for: "new_pages_#{page.id}"}, disabled: !@need.taken_by?(current_user)})

  .row-fluid
    .span8
      &nbsp;
    .span4.button-area
      = buttons_for @need
