- if @group.taken? && !(@group.taken_by? current_user)
  %p Group is taken by somebody else.

= form_tag({action: :update, id: @group.id}, method: :put) do
  .row-fluid
    .span2
      %h1= @group.name

      %ul.buttons
        - if @group.taken?
          - if @group.taken_by? current_user
            %li= submit_tag('Save', class: 'btn btn-primary')
        - else
          %li= submit_tag('Take', class: 'btn btn-primary')
        %li= submit_tag('Get a group', class: 'btn')

    .span10
      .table-container.table-bordered
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th
              %th
                %table.attributes
                  %tr
                    - taxonomy_tag(:attributes)[:cls].all.each do |a|
                      %td=a.name
              %th Audiences
              %th Needs

          %tbody
            - @group.pages.each do |page|
              %tr
                %td
                  %a{href: page.uri, target: 'content'}= page.name
                - [:attributes, :audiences, :needs].each do |a|
                  %td
                    = render partial: 'taxonomy_tag', locals: {tax: a, page: page}

.row-fluid
  %iframe.span12{name: :content}
