= form_tag({action: :update, id: @group.id}, method: :put) do
  .row-fluid
    .span2
      %h1= @group.name
      %p.count=pluralize(@group.pages.size, 'page')

      = buttons_for @group

    #group.span10
      .table-container.table-bordered
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th
              - taxonomies_a.each do |a|
                %th
                  = render partial: 'taxonomy_head', locals: {tax: a}
            %tr
              %th
              - taxonomies_a.each do |a|
                %th
                  = render partial: 'taxonomy_meta', locals: {tax: a}

          %tbody
            - @group.pages.each do |page|
              %tr
                %td
                  %a{href: page.uri, target: 'content'}= page.name
                - taxonomies_a.each do |a|
                  %td
                    = render partial: 'taxonomy_tag', locals: {tax: a, page: page}

.row-fluid
  %iframe.span12{name: :content, id: :content}
