= form_tag({action: :update, id: @group.id}, method: :put) do
  .row-fluid
    .span2
      %h1= @group.name
      %p.count=pluralize(@group.pages.size, 'page')

      = buttons_for @group

    #group.span10
      .table-container.table-bordered
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Original URL
              %th Propositions
              %th Needs
              %th Audiences
            %tr
              %th
              - taxonomies_a.each do |tax|
                - tag = taxonomy_tag(tax)
                %th
                  - case tag[:type]
                  - when :checkboxes
                    %table.attributes.meta
                      %tr
                        - tag[:cls].all.each do |a|
                          %td{:class => a.name}
                            %input{type: 'checkbox', data: {name: "#{tax}::#{a.name}"}, disabled: !@group.taken_by?(current_user)}

          %tbody
            - @group.pages.each do |page|
              %tr
                %td
                  %a{href: page.uri, target: 'content'}= page.name
                - taxonomies_a.each do |tax|
                  - tag = taxonomy_tag(tax)
                  %td
                    - case tag[:type]
                    - when :checkboxes
                      %table.attributes.body
                        %tr
                          - tag[:cls].all.each do |a|
                            %td{:class => a.name}= check_box_tag('pages[%s][%s][%s]' % [page.id, tax, a.name], '1', page.has_tag?(tax, a.name), {data: {name: "#{tax}::#{a.name}"}, disabled: !@group.taken_by?(current_user)})
                    - when :text
                      = autocomplete_field_tag('pages[%s][%s]' % [page.id, tax], page.tags(tax).join(', '), send("autocomplete_#{tax.to_s[0..-2]}_name_department_groups_path"), {disabled: !@group.taken_by?(current_user), class: 'editable_list', data: {delimiter: ', '}})

.row-fluid
  %iframe.span12{name: :content, id: :content}
