.row-fluid
  %h2 #{@department.name}: Groups 
  %p.meta
    #{@department.percentage_groups_done}% complete

  = form_tag({action: :get_next}, method: :post) do
    =submit_tag('Get a group', class: 'btn')

  %table.table.table-striped.table-condensed.table-bordered
    - @groups.each do |group|
      %tr
        %td.number.small
          = group.pages.length
          %span{class: group.done? ? 'icon-ok' : 'icon-remove'}
        %td= link_to(group.name, edit_department_group_path(@department.id, group))
