!!!
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{lang: 'en'}
  <!--<![endif]-->
  %head
    %meta{charset: 'utf-8'}
    %title Harvester
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "#{controller_name} #{params[:action]}"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{href: '/'}
            Harvester
            - if @department
              |
              %span.department=@department.name
          %p.navbar-text.pull-right
          - if current_user.nil?
            .nav-collapse
              %ul.nav.pull-right
                %li
                  %a{href: new_user_session_path} Sign in
          - else
            = form_tag destroy_user_session_path, method: :delete, class: 'navbar-form pull-right' do
              %p
                Signed in as
                %strong
                  = current_user.email
                = submit_tag 'Sign out', class: 'btn'

    .container-fluid
      = yield
